.bandcamp-iframe {
  border: 0;
  width: 350px;
  height: 442px;
}

@media only screen and (max-width: 480px) {
  .bandcamp-iframe {
    width: 100%;
    height: calc((100vw - 64) * 442 / 350);
  }
}
