.nav-menu {
  position: relative;
  cursor: pointer;
  padding: 0.6em;
  margin-top: 8px;
}

.nav-menu-links {
  position: absolute;
  top: 130%;
  right: 2px;
  display: grid;
  grid-template-columns: max-content;
  grid-template-rows: 0fr;
  transition: 0.3s grid ease;
}

.nav-menu:hover {
  .menu-icon {
    visibility: visible;
  }
  .nav-menu-links {
    grid-template-rows: 1fr;
  }
}
.nav-menu-links__container {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  width: 100%;
}

.nav-menu-links__container > a {
  width: 100%;
  display: block;
  background-color: rgb(194, 249, 82);
  text-align: right;
  color: #4d4dff;
  padding: 0.4rem 0.8rem;
}

.nav-menu-links__container > a:hover {
  background-color: #ff694e;
  color: #e6e6ff;
}

.menu-button {
  position: relative;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-icon {
  position: relative;
  z-index: 10;
  color: black;
  visibility: hidden;
}

.sawblade {
  height: 100px;
  width: 100px;
  position: absolute;
  left: -18px;
  z-index: 1;
}

.sawblade:hover {
  filter: drop-shadow(0 0 2em #e2230aaa);
}

@keyframes sawblade-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .sawblade {
    animation: sawblade-spin infinite 5s linear;
  }
}

@media only screen and (max-width: 480px) {
  .sawblade {
    height: 70px;
    width: 70px;
  }

  .menu-icon {
    height: 35px;
  }
}
