#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  margin-left: -5px;
}

.logo {
  height: 100px;
  margin-top: 18px;
  will-change: filter;
  transition: filter 300ms;
}
.home-button {
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s, transform 0.2s ease;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo:hover {
  filter: drop-shadow(0 0 2em #e2230aaa);
}

@media (prefers-reduced-motion: no-preference) {
  a .logo {
    animation: logo-spin infinite 5s linear;
  }
}

@media only screen and (max-width: 480px) {
  .logo {
    height: 70px;
    width: 70px;
  }

  #root {
    padding: 1rem;
  }

  header {
    height: 60px;
  }
}
